# User files
*.user
*.user.*

# Why, macOS, why?
.DS_Store

# Translation files
*.qm
*.mo

# Generic Build Dir
[Bb]uild/
cmake-build-*/

# IDE/Editor config folders
.vscode/
.idea/
.qtcreator/

# Clangd cache
.cache/
