name: macOS CI

on: [push, pull_request, workflow_dispatch]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.9.2'
        modules: 'qtimageformats'
    - name: Install Conan and Dependencies
      id: conan
      working-directory: ./
      shell: bash
      run: |
        pip3 install wheel setuptools
        pip3 install conan --upgrade
        conan --version
        conan profile detect
        conan install --requires=exiv2/0.28.3 --generator CMakeDeps --generator CMakeToolchain --build=missing
    - name: Build
      run: |
        cmake . -DTRANSLATION_RESOURCE_EMBEDDING=ON --preset conan-release
        cmake --build --preset conan-release
    - name: Deploy
      run: |
        macdeployqt ./ppic.app -dmg
        ls
    - uses: actions/upload-artifact@v4
      with:
        name: "macos-bundle"
        path: "*.dmg"
