name: Ubuntu 20.04 CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v1
    - name: Get build dept.
      run: sudo apt install cmake qtbase5-dev libqt5svg5-dev qttools5-dev libexiv2-dev
    - name: Build it
      run: |
        mkdir build
        cd build
        cmake ../
        make
        cpack -G DEB
    - uses: actions/upload-artifact@v2
      with:
        name: ubuntu-20.04-deb-package
        path: build/*.deb
